.radio-input {
    position: fixed;
    top: -1.5em;
    left: -1.5em;
}

.radio-label {
    cursor: pointer;
    display: block;
    font-weight: bold;
    text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2);
    transition: color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.radio-label:not(:last-of-type) {
    margin-bottom: 1.5em;
}

.radio-label span {
    box-shadow: 0 0 0 0.2em currentColor inset, 0 0.2em 0.2em rgba(0, 0, 0, 0.2), 0 0.3em 0.2em rgba(0, 0, 0, 0.2) inset;
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: bottom;
    width: 1.5em;
    height: 1.5em;
    transition: transform 0.2s cubic-bezier(0.5, 0, 0.5, 2), box-shadow 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95), color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.radio-label span,
.worm__segment:before {
    border-radius: 50%;
}

.radio-input:checked + .radio-label,
.radio-input:checked + .radio-label span,
.worm__segment:before {
    color: #EE4443;
}

.radio-input:checked + .radio-label, .radio-input:checked + .radio-label span {
    transition-delay: 0.4s;
}

.radio-input:checked + .radio-label span {
    transform: scale(1.2);
}

.worm {
    top: 0.375em;
    left: 0.375em;
}

.worm, .worm__segment {
    position: absolute;
}

.worm__segment {
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    transition: transform 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.worm__segment:before {
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
    background: currentColor;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
}

.worm__segment:first-child:before, .worm__segment:last-child:before {
    box-shadow: 0 0 1em 0 currentColor;
}

.worm__segment:nth-child(2) {
    transition-delay: 0.004s;
}

.worm__segment:nth-child(2):before {
    animation-delay: 0.004s;
}

/* States */

.radio-input:nth-of-type(1):checked ~ .worm .worm__segment:before {
    animation-name: hop1;
    transform: translateY(-0.5px) translateX(-1px);
}

@keyframes hop1 {
    from, to {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-1.5em);
    }
}

.radio-input:nth-of-type(2):checked ~ .worm .worm__segment {
    transform: translateY(3.1em) translateX(-1px);
}

.radio-input:nth-of-type(2):checked ~ .worm .worm__segment:before {
    animation-name: hop2;
}

@keyframes hop2 {
    from, to {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-1.5em);
    }
}

.radio-input:nth-of-type(3):checked ~ .worm .worm__segment {
    transform: translateY(6em);
}

.radio-input:nth-of-type(3):checked ~ .worm .worm__segment:before {
    animation-name: hop3;
}

@keyframes hop3 {
    from, to {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-1.5em);
    }
}

/* Dark mode */
@media screen and (prefers-color-scheme: dark) {
    body {
        background: #17181c;
        color: #e3e4e8;
    }

    .radio-input:checked + .radio-label,
    .radio-input:checked + .radio-label span,
    .worm__segment:before {
        color: #EE4443;
    }
}



a{
    outline: none;
}
.nav_list a:focus{
    background: #121c2b;
    color: #EE4443;
}
body{
    height: 100vh;
    max-height: 100vh;
    overflow: hidden
}
.vue-row{
    height: calc(100vh - 80px - 44px);
}
.vue-table{
    max-height: calc(100% - 60px);
}
.table-scroll{
    max-height: calc(100vh - 80px - 44px - 60px - 70px);
    margin-top: 10px;
}
.content_container{
    display: flex;
    flex-direction: column;
}
.content{
    position: absolute;
    height: 100%;
    left: 78px;
    width: calc(100% - 78px);
    transition: all .4s ease;
    background: #101826;
    color: #fff
}
.sidebar.active ~ .content{
    width: calc(100% - 240px);
    left: 240px;
}
.fade-enter-active,
.fade-leave-active {
    transition-duration: .3s;
    transition-property: opacity;
    transition-timing-function: linear;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}
.vue-table__cell:last-child{
    text-align: right;
    justify-content: right;
    flex: 1 0 10% !important;
}
.vue-table__cell:last-child i:hover{
    color: #EE4443 !important;
}
.vue-table__cell i{
    transition: ease .2s;
    cursor: pointer;
    color: #fff !important;
    margin-left: 10px;
    font-size: 24px;
}
.vue-table__header .vue-table__cell i{
    visibility: hidden;
}
.vue-table__header .vue-table__cell.up .bxs-upvote{
    visibility: visible;
}

.vue-table__cell.down .bxs-downvote{
    visibility: visible;
}
.vue-table__row{
    border-radius: 7px;
    transition: ease .3s;
    padding: 0 5px;
}
.vue-table__row:hover{
    background: #121c2b;
}
.vue-table__row .vue-table__cell{
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    padding: 5px 0;
    display: flex;
    align-items: center;
}
.vue-table__row .vue-table__cell a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.vue-table__header, .vue-table__row{
    display: flex;
}
.vue-table__cell.active{
    color: #EE4443;
}
.vue-table__header{
    position: relative;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}
.vue-table__header:after{
    content: "";
    height: 3px;
    border-radius: 6px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    background: #EE4443;
}
.content_container{
    padding: 40px;
}
h1{
    font-weight: 700;
}
.loader-container{
    position: relative;
    width: 100px;
    height: 100px;
}
.vue-table{
    background: #263144;
    width: 100% ;
    padding: 15px;
    border-radius: 12px;
}
.red-hover{
    background: #c63a39;
    transition: ease .2s;
    color: #fff;
}
.red-hover:hover, .red-hover:focus{
    background: #a53130 !important;
}
.blue-hover{
    background: #3b44ee;
    transition: ease .2s;
    color: #fff;
}
.blue-hover:hover, .blue-hover:focus{
    background: #363dc4 !important;
}
.vue-row{
    display: flex;
    gap: 20px;
}
.vue-row .main-content{
    flex: 1100px;
    max-width: 1100px;
}
.vue-row .left-content{
    flex: 1;
}
.scroll-box {
    overflow: hidden;
    overflow-y: auto
}
.scroll-box.scroll-horizontal{
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll-box::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    cursor: pointer;
}

.scroll-box::-webkit-scrollbar-track {
    background: rgba(196, 196, 196, .1);
    width: 1px2
}

.scroll-box::-webkit-scrollbar-thumb {
    background: #EE4443;
    border-radius: 2px
}
.cancel-button{

}
.main-button{
    height: 40px;
    border-radius: 8px;
    border: 0;
    outline: 0;
    padding: 0 15px;
}

.btn-cancel{
    color: #fff;
    padding: 0 10px;
    border: 0;
    border-radius: 6px;
    height: 30px;
    line-height: 30px;
    text-decoration: underline;
    background: none;
    transition: all .5s;
}

.mx-datepicker{
    padding: 0 !important;
    margin-right: 20px !important;
}
.mx-input{
    margin-right: 20px;
    border-radius: 8px !important;
    background: #263144 !important;
    color: #fff !important;
    border: 0 !important;
    outline: none !important;
    height: 40px !important;
    padding: 0 15px;
}
.mx-input-wrapper i{
    color: #fff !important;
}

.main-content{
    display: flex;
    flex-direction: column;
}
.vue-table{
    flex: 1;
}
.a-btn{
    line-height: 40px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    width: fit-content;
    font-weight: 700;
}
.a-btn:hover{
    color: #fff;
}
.title-fc{
    width: fit-content;
    display: inline-block;
    height: 40px;
    margin-right: 10px;
}
.mx-datepicker-main.mx-datepicker-popup{
    background: #35455f;
    border: none;
    border-radius: 8px;
    font-family: "Nunito", sans-serif;
}
.mx-calendar-content .cell{
    border-radius: 8px !important;
}
.mx-calendar-content .cell.active{
    background: #EE4443 !important;
    font-weight: 700 !important;
}
.mx-table-date .today{
    color: #EE4443 !important;
}
.mx-btn:hover{
    border: none !important;
    color: #EE4443 !important;
}
.mx-calendar-content .cell{
    transition: ease .2s !important;
}
.mx-table-date .cell:not(.not-current-month){
    color: #fff !important;
}
.mx-calendar-content .cell:hover{
    font-weight: 700 !important;
    color: #EE4443 !important;
    background: #121c2b !important;
}
.mx-table-date .cell.not-current-month{
    color: #aaa !important;
}
.vue-table__cell:first-letter{
    text-transform: capitalize;
}

button:disabled{
    opacity: .4;
}
